/* General */
td { font-family: Arial, Helvetica, sans-serif; font-size: 78%; color: 000000; }
body { margin:0px; background-color: #ffffff; line-spacing: 125%}
ul {
	list-style-image: url(images/misc/tanBoxPlain.gif);
	margin-top: 3px;
	margin-bottom: 3px;
}

/* byuBar */
table#byuBarTable {
	background: url(images/byuBar/background.gif);
}

a.signin:link {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color:#8495a9;}
a.signin:visited {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color:#8495a9;}
a.signin:hover {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color:#ffffff;}

.byuBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: 8495a9;
}
.byuBarTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: 8495a9;
	letter-spacing: 4px;
}
.searchTable {
	margin-right: 14px;
}
.searchBox {
	height: 19px;
	width: 100px;
	margin-right: 6px;
	margin-left: 6px;
}

/* signIn */
.signInTitle {font-family: "Times New Roman", Times, serif; font-size: 24pt; text-decoration: none; color:#a98c4b;}
.signInTable {padding-top:7px; padding-bottom:7px; border-top:1px solid #c5af7d; border-bottom:1px solid #c5af7d;}
.signInForm {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color:#405679;}

.signInPop {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color:#000000;}
a.signInPop:link {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline; color:#003c96;}
a.signInPop:visited {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline; color:#003c96;}
a.signInPop:hover {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none; color:#003c96;}

/* departmentBar */
table#departmentBarBigTable {
	background: url(images/departmentBar/background.gif)
}
table#reliabilityBarBigTable {
        background: url(images/departmentBar/reliabilityBackground.png)
}
table#departmentBarSmallTable {
	 background: url(images/departmentBar/backgroundSmall.gif)
}

.departmentBarTitle {padding-left: 13px;}
a.departmentBar:link {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color:#e6e5d0; text-transform: uppercase;}
a.departmentBar:visited {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color:#e6e5d0; text-transform: uppercase;}
a.departmentBar:hover {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color:#ffffff; text-transform: uppercase;}

.departmentBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: e6e5d0;
	letter-spacing: 2px;
}

/* relatedLinks */
.relatedLinkCell {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	vertical-align: top;
	background-color: E6E5D0;
}
ul#relatedList {
	list-style-image: url(images/misc/tanBoxPlain.gif);
	margin-left: 3px;
	margin-top: 3px;
	padding-left: 10px;
}
ol#relatedList {
	margin-left: 3px;
	margin-top: 3px;
	padding-left: 10px;
}

.relatedLinkTitle {font-family: "Times New Roman", Times, serif; font-size: 140%; text-decoration: none; color:#a98c4b; letter-spacing: 1px;}
.relatedLinkText {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#000000;}
a.relatedLink:link {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#003c96;}
a.relatedLink:visited {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#003c96;}
a.relatedLink:hover {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: underline; color:#003c96;}
a.whatLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: underline;
	color:#003c96;
	font-weight: bold;
}

/* feature */
.featureTable_RB {
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 200px;
	width: 100%;
}
.featureTable_LB {
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 200px;
	width: 100%;
}
.featureCell {
	font-family: Arial, Helvetica, sans-serif;
	color: 405679;
}
.featureTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	color: a98c4b;
	line-height: .9
	text-decoration: none;
}
a.featureTitle:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	color: a98c4b;
	line-height: .9;
	text-decoration: none;
}
a.featureTitle:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	color: a98c4b;
	line-height: .9;
	text-decoration: none;
}
a.featureTitle:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	color: a98c4b;
	line-height: .9;
	text-decoration: underline;
}
a.featureSubTitle:link {
        font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color: 808080;
	lineheight: .9;
	text-decoration: none;
}
a.featureSubTitle:visited {
        font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color: 808080;
	lineheight: .9;
	text-decoration: none;
}
a.featureSubTitle:hover {
        font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color: 808080;
	lineheight: .9;
	text-decoration: underline;
}
.featureSubTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color: 808080;
	line-height: .9;
}

/* navigation */
.navigationTab {
	padding-top:4px;
}
a.navigation:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: 000000;
	text-align: center;
	letter-spacing: 4px;
	padding-top:4px;
	text-decoration: none;
	text-transform: uppercase;
}
a.navigation:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: 000000;
	text-align: center;
	letter-spacing: 4px;
	padding-top:4px;
	text-decoration: none;
	text-transform: uppercase;
}
a.navigation:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: 000000;
	text-align: center;
	letter-spacing: 4px;
	padding-top:4px;
	text-decoration: underline;
	text-transform: uppercase;
}
.navigationCell {
	padding-left:14px;
	padding-top:3px;
	padding-right:5px;
}
.navigationText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	color: 8495a9;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}
a.navigationText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	color: 8495a9;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}
a.navigationText:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	color: 8495a9;
	letter-spacing: 2px;
	text-decoration: underline;
	text-transform: uppercase;
}

/* pop out menu */
a.main_menu:link { font-family: Arial, Helvetica, sans-serif; color: #003C96; text-decoration: none; font-weight: normal}
a.main_menu:visited { font-family: Arial, Helvetica, sans-serif ; color: #003C96; text-decoration: none; font-weight: normal}
a.main_menu:hover { font-family: Arial, Helvetica, sans-serif;  color: #003C96; text-decoration: underline; font-weight: normal}

.popMenu { 
	border-left: 1px solid #c5af7d;
	padding:5px;
	padding-left:8px;
	padding-right:0px;
	visibility: hidden; 
	position:absolute;
	width: 180px;
	background: url(images/misc/tanBar.gif) left top no-repeat #f0f0e2;
}
.linkLayer { 
	background: url(images/misc/rightArrowDark.gif) left top no-repeat;
	padding-right:15px;
	padding-left: 8px;
}
.linkText { 
	background: url(images/misc/tanBox.gif) left top no-repeat;
	padding-right:15px;
	padding-left: 8px;
}

/* breadcrumb */
.breadcrumb {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: none; color:#000000; font-weight:bold;}
a.breadcrumb:link {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: underline; color:#003c96; font-weight:normal;}
a.breadcrumb:visited {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: underline; color:#003c96; font-weight:normal;}
a.breadcrumb:hover {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: none; color:#003c96; font-weight:normal;}

/* leftMenu */
.leftMenuTitle {  font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: #A98C4B; text-decoration: none; text-transform: uppercase; letter-spacing: 1px;}
.leftMenu { padding-top: 2px;}
a.leftMenu:link {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#003c96;}
a.leftMenu:visited {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#003c96;}
a.leftMenu:hover {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: underline; color:#003c96;}

a.leftMenuSelected:link {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#000000;}
a.leftMenuSelected:visited {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: none; color:#000000;}
a.leftMenuSelected:hover {font-family: Arial, Helvetica, sans-serif; font-size: 85%; text-decoration: underline; color:#000000;}

/* content */
.contentTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	color: 405679;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	color: 222222;
	font-size: 100%; 
	padding-top: 5px;
}
