
.indent1 {margin-left: 5%; margin-right: 10%}
.indent2 {margin-left: 10%; margin-right: 10%}
.indent3 {margin-left: 15%; margin-right: 10%}
.indent4 {margin-left: 20%; margin-right: 10%}

.powertitle {margin-left: 10%; margin-right: 10%; color: 202020; font-size: 18}
.powersubtitle {margin-left: 15%; margin-right: 10%; color: 202020; font-size: 14}

.jpower {margin-left: 5%; margin-right: 10%; color: #003c96; font-size: 20}
.jpowercolor {color: #003c96}
a.jpower:link {color: #003c96; text-decoration: none}
a.jpower:visited {color: #003c96; text-decoration: none}
a.jpower:hover {color: #003c96; text-decoration: none}
a.jpower:active {color: #003c96; text-decoration: none}

.xpower {margin-left: 5%; margin-right: 10%; color: darkred; font-size: 20}
.xpowercolor {color: darkred}
a.xpower:link {color: darkred; text-decoration: none}
a.xpower:visited {color: darkred; text-decoration: none}
a.xpower:hover {color: darkred; text-decoration: none}
a.xpower:active {color: darkred; text-decoration: none}

.callibration {margin-left: 5%; margin-right: 10%; color: #080808; font-size: 20}
.callibrationcolor {color: #080808}
a.callibration:link {color: #080808; text-decoration: none}
a.callibration:visited {color: #080808; text-decoration: none}
a.callibration:hover {color: #080808; text-decoration: none}
a.callibration:active {color: #080808; text-decoration: none}
